/* body{

background-image: url("images/knitting.jpeg");
/*background-position:top, bottom;*/
/* background-repeat:no-repeat;
background-color:whitesmoke;
border-radius:20px;
background-size:100%,180%;
width:100%; */
/*-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #191922;*/

/* }  */
.shopContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    margin-left: 5%;
    margin-top: 30%;
    justify-content: center;
}
.products{
    /* margin-top:66%;
    margin-left:15%;
    display:flex; */
    margin-top: 4%;
    width: 100%;
    
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    /* transition: 0.3s; */
}
.products:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
  padding: 2px 16px;
}
.products img{
    
    width: 200px;
    height: 260px;
    /* box-shadow: 0 1px 8px 0 rgba(0, 0,0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19); */
}

.productText{
    
    gap: 20%;
}

.description{
    font-size: 1.2rem;
    color:grey;
}
/* .descriptionText{
 margin-top:47%;
    text-align: center;
    margin-left:-50%;   
} */