.App {
  text-align: center;
}
.baseDiv{

  background-image: url("images/knitting.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vw;
  min-height: 100%;
  width:100%;

  background-size: 100%, 180%;
  /* -webkit-text-stroke-width: 1px; */
  -webkit-text-stroke-color: #191922;
}
nav{
  background: none;
  display:flex;
  justify-content: space-between;
 
  margin:0% 17%;
 margin-top: 9%;
}
a:active{
color:grey;
}
a:visited{
color:black;
}
a:link{
  text-decoration: none;
  color:black;
  font-size: 0.8rem;
}
footer{
  text-align: center;
  padding: 3px;
  background-color:rgb(179, 179, 166);
}