body{

background-image: url("images/knitting.jpeg");
/*background-position:top, bottom;*/
background-repeat:no-repeat;
background-color:whitesmoke;
border-radius:20px;
background-size:100%,180%;
width:100%;
/*-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #191922;*/

}

.products{
    margin-top:40%;
    margin-left:15%;
    display:flex;
    gap:50px;
}
.products img{
width:250px;
height:305px;
  box-shadow: 0 1px 8px 0 rgba(0, 0,0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

div.productText{
    font-size:1.8rem;
display:flex;
margin-top:42%;
margin-left:-80%;
gap:20%;
}
/*.price{
    margin-top:11%;
    margin-left:100%;
}*/
.description{
    font-size:1.5rem;
    margin-top:55%;
    margin-left:-20%;
   color:grey;
}